on:
  workflow_dispatch:
    inputs:
      r-version:
        description: "The version of R to use"
        default: "release"
        required: false
        type: choice
        options:
          - devel
          - release
          - oldrel
  workflow_call:
    inputs:
      r-version:
        description: "The version of R to use"
        default: "release"
        required: false
        type: string

name: Check Templates

concurrency:
  group: templates-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check_templates:
    name: Verify
    if: >
      !contains(github.event.commits[0].message, '[skip check_templates]')
    runs-on: ubuntu-latest
    container:
      image: "ghcr.io/pharmaverse/admiralci-${{ inputs.r-version }}:latest"
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: pharmaverse/admiralci/.github/actions/setup_R@206_fix_cicd

      - name: Install package
        run: |
          R CMD build --no-build-vignettes --no-manual .
          R CMD INSTALL *.tar.gz

      - name: Run Template Scripts
        run: |
          # Run Template Scripts
          desc <- read.dcf("DESCRIPTION")
          package_name <- as.character(desc[, "Package"])
          templates <- list.files(
            system.file("templates", package = package_name),
            pattern = "\\.R$",
            ignore.case = TRUE,
            full.names = TRUE
          )
          cli::cli_h1("Running Templates")
          if (length(templates) > 0) {
            exit_codes <- purrr::map_chr(templates, function(file) {
              cli::cli_bullets(c("*" = "Running {.file {file}}"))
              cmd <- sprintf("Rscript --vanilla %s", file)
              system(cmd)
            })
            if (any(exit_codes == 1L)) {
              failed_scripts <- basename(templates)[which(exit_codes == 1L)]
              err_msg <- sprintf(
                "Executing the following template scripts failed:\n%s",
                paste("-", failed_scripts, collapse = "\n")
              )
              stop(err_msg, call. = FALSE)
            } else {
              cli::cli_bullets(c(i = "All templates has been run successfully."))
            }
          }
        shell: Rscript {0}
