---
name: Propagate renv.lock

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    branches:
      - main
      - devel
      - pre-release

# TODO find and replace:
# 'renv.lock.test' -> 'renv.lock'

jobs:
  validate:
    name: Validate renv.lock
    runs-on: ubuntu-20.04
    container:
      image: ghcr.io/insightsengineering/rstudio_4.2.1_bioc_3.15:latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Validate renv.lock
        run: |
          renv::diagnostics(project = NULL)
        shell: Rscript {0}


  renv:
    name: Propagate renv.lock
    runs-on: ubuntu-20.04
    needs: validate
    strategy:
      matrix:
        # Run all steps in this job for the following repositories.
        repos:
          # TODO uncomment repository names once bot gains access to them.
          # - pharmaverse/admiralonco
          # - pharmaverse/admiraldev
          # - pharmaverse/admiraltemplate
          # - pharmaverse/admiralophtha
          # - pharmaverse/admiral
          # - pharmaverse/admiral.test
          - walkowif-test-org/repo-to-copy
          - walkowif-test-org/gh-to-gh

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Check if renv.lock changed
        id: changed-files-specific
        uses: tj-actions/changed-files@v29.0.4
        with:
          files: renv.lock.test

      - name: Prepare to renv propagation
        id: prepare
        if: steps.changed-files-specific.outputs.any_changed == 'true'
        run: |
          echo "Propagating renv.lock.test to ${{ matrix.repos }} repository"
          echo "::set-output name=renv_changed::true"

      - name: Checkout extension repo
        if: steps.prepare.outputs.renv_changed == 'true'
        uses: actions/checkout@v3
        with:
          repository: ${{ matrix.repos }}
          path: './repo'
          # TODO change to proper token
          # This token should have permissions to all extension repositories.
          token: ${{ secrets.WALKOWIF_TOKEN }}

      - name: Update renv.lock in extension repo
        if: steps.prepare.outputs.renv_changed == 'true'
        run: |
          BRANCH_NAME="automated-renv-lock-propagation"
          cd repo && git status
          # Update local branch if remote branch already exists
          git fetch origin $BRANCH_NAME || true
          # Switch to the branch or create if doesn't exist
          git checkout $BRANCH_NAME || git checkout -b $BRANCH_NAME
          git pull origin $BRANCH_NAME || true
          # Update renv.lock file with the latest version from central repo
          # cp ../renv.lock.test .
          # git add renv.lock.test
          # git diff --cached
          # git config --local user.email "action@github.com"
          # git config --local user.name "GitHub Actions"
          # git commit -m "Update renv.lock" || true
          # git push origin $BRANCH_NAME || echo "No changes to commit"

      - name: Commit and push changes
        if: steps.prepare.outputs.renv_changed == 'true'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update renv.lock"
          file_pattern: renv.lock.test
          repository: repo
          commit_user_name: "GitHub Actions"
          commit_user_email: action@github.com

      - name: Create Pull Request in extension repo
        if: steps.prepare.outputs.renv_changed == 'true'
        uses: actions/github-script@v6
        with:
          # TODO change to proper token
          # This token should have permissions to all extension repositories.
          github-token: ${{ secrets.WALKOWIF_TOKEN }}
          script: |
            // Look for any open PRs
            const result = await github.rest.pulls.list({
              owner: "${{ matrix.repos }}".split("/")[0],
              repo: "${{ matrix.repos }}".split("/")[1],
              state: "open"
            })
            let create_new_pr = true;
            for (const pr of result.data) {
              // Look for distinguished PR branch name
              if (pr.head.ref === "automated-renv-lock-propagation") {
                console.log("PR with head ref " + pr.head.ref + " already exists");
                create_new_pr = false;
                break;
              }
            }
            // If no PR with distinguished branch name has been found
            // create a new PR to track changes to renv.lock.
            if (create_new_pr) {
              console.log("Creating a new PR");
              const result2 = await github.rest.pulls.create({
                title: 'Propagate renv.lock',
                owner: "${{ matrix.repos }}".split("/")[0],
                repo: "${{ matrix.repos }}".split("/")[1],
                head: 'automated-renv-lock-propagation',
                base: 'main',
                body: ['This PR has been automatically generated by ',
                       'renv.lock propagation workflow.\n\nPlease review ',
                       'the changes.'].join('')
              });
            }
