---
# This is a workflow that is specific to admiralci
# It's not inteded to be used by other projects
name: Propagate renv.lock

on:
  pull_request:
    branches:
      - main
    paths:
      - 'renv.lock'

jobs:
  integrity:
    name: renv.lock integrity check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Get R version from renv.lock file
        id: r-version
        run: |
          R_VERSION=$(cat renv.lock | jq -r '.R.Version')
          echo "::set-output name=R_VERSION::$R_VERSION"

      - name: Setup R
        uses: r-lib/actions/setup-r@v1
        with:
          r-version: ${{ steps.r-version.outputs.R_VERSION }}
 
      - name: Run renv.lock diagnostics
        run: renv::diagnostics(project = NULL)
        shell: Rscript {0}

  propagation:
    name: Propagate renv.lock
    runs-on: ubuntu-latest
    needs: integrity
    env:
      PR_BRANCH_NAME: automated-renv-lock-propagation
      PR_TARGET_BRANCH_NAME: devel
    strategy:
      matrix:
        # Run all steps in this job for the following repositories.
        repos:
          - pharmaverse/admiralonco
          - pharmaverse/admiraldev
          - pharmaverse/admiraltemplate
          - pharmaverse/admiralophtha
          - pharmaverse/admiral
          - pharmaverse/admiral.test

    steps:
      - name: Checkout this repo
        uses: actions/checkout@v3

      - name: Checkout ${{ matrix.repos }}
        uses: actions/checkout@v3
        with:
          repository: ${{ matrix.repos }}
          path: ./repo
          token: ${{ secrets.PHARMAVERSE_BOT }}

      - name: Update renv.lock in ${{ matrix.repos }}
        run: |
          cd repo && git status
          # Update local branch if remote branch already exists
          git fetch origin $PR_BRANCH_NAME || true
          # Switch to the branch or create if doesn't exist
          git checkout $PR_BRANCH_NAME || git checkout -b $PR_BRANCH_NAME
          # Required to pull the branch because stefanzweifel/git-auto-commit-action
          # doesn't have support for automatic pulling
          git pull origin $PR_BRANCH_NAME || true
          # Update renv.lock file with the latest version from central repo
          cp ../renv.lock .
          # Also update the R_VERSION setting in workflows to match
          # what's available in the renv.lock file
          R_VERSION=$(cat ../renv.lock | jq -r '.R.Version')
          perl -p -i -e "s/R_VERSION: .*/R_VERSION: \"${R_VERSION}\"/" .github/workflows/*

      - name: Commit and push changes
        if: steps.prepare.outputs.renv_changed == 'true'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update renv.lock"
          file_pattern: renv.lock
          repository: repo
          commit_user_name: "GitHub Actions"
          commit_user_email: action@github.com
          branch: ${{ env.PR_BRANCH_NAME }}
          create_branch: true

      - name: Create Pull Request in ${{ matrix.repos }}
        if: steps.prepare.outputs.renv_changed == 'true'
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.PHARMAVERSE_BOT }}
          script: |
            // Look for any open PRs
            const repo_owner = "${{ matrix.repos }}".split("/")[0];
            const repo_name = "${{ matrix.repos }}".split("/")[1];
            const result = await github.rest.pulls.list({
              owner: repo_owner,
              repo: repo_name,
              state: "open"
            })
            let create_new_pr = true;
            for (const pr of result.data) {
              // Look for distinct PR branch name
              if (pr.head.ref === "${{ env.PR_BRANCH_NAME }}") {
                console.log("PR with head ref " + pr.head.ref + " already exists");
                create_new_pr = false;
                break;
              }
            }
            // If no PR with distinguished branch name has been found
            // create a new PR to track changes to renv.lock.
            if (create_new_pr) {
              console.log("Creating a new PR");
              const result2 = await github.rest.pulls.create({
                title: 'Propagate renv.lock',
                owner: repo_owner,
                repo: repo_name,
                head: '${{ env.PR_BRANCH_NAME }}',
                base: '${{ env.PR_TARGET_BRANCH_NAME }}',
                body: ['This PR has been automatically generated by ',
                       'renv.lock propagation workflow.\n\nPlease review ',
                       'the changes.'].join('')
              });
            }
