---
name: Spelling

on:
  workflow_dispatch:
    inputs:
      r-version:
        description: "The version of R to use"
        default: "release"
        required: false
        type: choice
        options:
          - devel
          - latest
      exclude:
        description: "List of paths to exclude (comma seperated list)"
        default: ""
        required: false
        type: string
  workflow_call:
    inputs:
      r-version:
        description: "The version of R to use"
        default: "release"
        required: false
        type: string
      exclude:
        description: "List of paths to exclude (comma seperated list)"
        default: ""
        required: false
        type: string

concurrency:
  group: spelling-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  spellcheck:
    name: Spellcheck
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    if: >
      !contains(github.event.commits[0].message, '[skip spellcheck]')
    steps:
      - uses: pharmaverse/admiralci/.github/actions/setup_R@main

      - name: Run Spellcheck
        uses: insightsengineering/r-spellcheck-action@v3
        with:
          additional_options: ""
          exclude: "${{ inputs.exclude }}"
